@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  background: black;
  @apply text-white;
}

body * {
  cursor: none !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #1E1C1CFF inset !important;
  -webkit-text-fill-color: #ffff !important;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: none;
  border: none;
}

.animation-slide-fade {
  animation: slideFade 0.7s;
}

@keyframes slideFade {
  from {
    transform: translateY(-22px);
    opacity: 0.4;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.m-container {
  @apply md:max-w-[1240px] max-w-[352px];
  margin: 0 auto;
}

.fixed-container {
  @apply md:w-[1240px] w-[352px];
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: float 4s ease-in-out infinite;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 1.5s;
}

.delay-4 {
  animation-delay: 2s;
}

.delay-5 {
  animation-delay: 2.5s;
}

.delay-6 {
  animation-delay: 3s;
}

.delay-7 {
  animation-delay: 3.5s;
}

.delay-8 {
  animation-delay: 4s;
}
