.inputContainer {
  width: 100%;
  padding: 8px 12px;
  outline: 0;
  background: #000;
  color: white !important;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(188, 232, 187, 0.75);
}

.inputContainer input {
  background: rgba(255, 255, 255, 0.12) !important;
  color: white !important;
}

.inputContainer input::placeholder {
  color: #A1A1A1;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.inputContainer input:-webkit-autofill,
.inputContainer input:-webkit-autofill:hover,
.inputContainer input:-webkit-autofill:focus,
.inputContainer input:-webkit-autofill:active  {
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.12) inset !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.12) inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.inputContainer input:-moz-autofill {
  color: white !important;
  background-color: rgba(255, 255, 255, 0.12) !important;
}

.inputContainer input:-ms-autofill {
  color: white !important;
  background-color: rgba(255, 255, 255, 0.12) !important;
}

/* Інші стилі */
.inputContainer.required {
  padding-left: 24px;
}

.inputContainer.invalid {
  border-color: red;
  color: red;
}

.suffix {
  position: absolute;
  right: 12px;
  top: 12px;
}

.suffixInput {
  padding-right: 48px;
}
