.scrollable {
  overflow: auto;
}

.scrollable::-webkit-scrollbar {
  width: 10px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF;
}
