
.h1 {
  @apply text-[60px] leading-[84px];
  font-weight: 700;
}

.button {
  @apply text-[16px] leading-[24px];
  font-weight: 500;
}

.bodyB1 {
  @apply text-[16px] leading-[24px];
  font-weight: 400;
  font-family: 'Open Sans';
}

.body {
  @apply text-[18px] leading-[24px];
  font-weight: 400;
}

.bodySB {
  @apply text-[18px] leading-[24px];
  font-weight: 500;
}

.sub1 {
  @apply text-[20px] leading-[28px];
  font-weight: 700;
}

.primaryElement {
  @apply text-primary;
}

.boldElement {
  @apply text-[22px] leading-[34px];
  font-family: 'Inter';
  font-weight: 800;
}


.healine6 {
  @apply text-[18px] leading-[32px];
  font-weight: 600;
}

.healine5 {
  @apply text-[24px] leading-[40px];
  font-family: 'Inter';
  font-weight: 600;
}

.healine4 {
  @apply text-[28px] leading-[40px];
  font-family: 'Inter';
  font-weight: 700;
}


.healine2 {
  @apply text-[48px] leading-[56px];
  font-family: 'Inter';
  font-weight: 700;
}

.link1 {
  @apply text-[18px];
  font-weight: 500;
  font-family: 'Nunito';
}

.link2 {
  @apply text-[12px];
  font-weight: 500;
  font-family: 'Nunito';
}

.heading1 {
  @apply text-[50px] leading-[62px];
  font-family: 'Inter';
  font-weight: 800;
}

.heading2 {
  @apply text-[40px] leading-[50px];
  font-family: 'Inter';
  font-weight: 700;
}

.heading3 {
  @apply text-[30px] leading-[37px];
  font-family: 'Inter';
  font-weight: 700;
}

.heading4 {
  @apply text-[22px] leading-[27px];
  font-family: 'Inter';
  font-weight: 700;
}

.heading4NotBold {
  @apply text-[22px] leading-[27px];
  font-family: 'Inter';
  font-weight: 400;
}

.heading5 {
  @apply text-[20px] leading-[25px];
  font-family: 'Inter';
  font-weight: 600;
}

.heading6 {
  @apply text-[18px] leading-[22px];
  font-family: 'Inter';
  font-weight: 400;
}

.heading6SM {
  @apply text-[18px] leading-[22px];
  font-family: 'Inter';
  font-weight: 600;
}


.body1 {
  @apply text-[16px] leading-[25px];
  font-family: 'Inter';
  font-weight: 400;
}

.body2 {
  @apply text-[16px] leading-[25px];
  font-family: 'Inter';
  font-weight: 400;
}

.body2B {
  @apply text-[22px] leading-[34px];
  font-family: 'Inter';
  font-weight: 700;
}

.body2A {
  @apply text-[16px] leading-[25px];
  font-family: Inter;
  font-weight: 700;
}


.title {
  @apply text-[60px] leading-[84px];
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
}

.footer {
  @apply text-[14px] leading-[19px];
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
}

.txt1 {
  @apply text-[75px] leading-[93px];
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
}

.navBar {
  @apply text-[22px];
  font-family: Inter;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
}

.oops {
  @apply text-[160px] leading-[176px];
  font-family: Unbounded;
  font-style: normal;
  font-weight: 700;
}


.oops_desc {
  @apply text-[28px] leading-[28px];
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
}

.button_monserrat {
  @apply text-[20px];
  font-family: Montserrat;
  line-height: normal;
  font-style: normal;
  font-weight: 700;
}


.registerTitle {
  @apply text-[24px] leading-[38px];
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
}

.registerDesc {
  @apply text-[16px] leading-[38px];
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
}
