
.h1 {
  @apply text-[60px] leading-[84px];
  font-weight: 700;
}

.button {
  @apply text-[16px] leading-[24px];
  font-weight: 500;
}

.bodyB1 {
  @apply text-[16px] leading-[24px];
  font-weight: 400;
  font-family: 'Open Sans';
}

.body {
  @apply text-[18px] leading-[24px];
  font-weight: 400;
}

.bodySB {
  @apply text-[18px] leading-[24px];
  font-weight: 500;
}

.sub1 {
  @apply text-[20px] leading-[28px];
  font-weight: 700;
}

.primaryElement {
  @apply text-primary;
}


.healine6 {
  @apply text-[18px] leading-[32px];
  font-weight: 600;
}

.healine5 {
  @apply text-[24px] leading-[40px];
  font-family: 'Inter';
  font-weight: 600;
}

.healine4 {
  @apply text-[28px] leading-[40px];
  font-family: 'Inter';
  font-weight: 700;
}


.healine2 {
  @apply text-[48px] leading-[56px];
  font-family: 'Inter';
  font-weight: 700;
}

.link1 {
  @apply text-[18px];
  font-weight: 500;
  font-family: 'Nunito';
}

.heading1 {
  @apply text-[50px] leading-[62px];
  font-family: 'Inter';
  font-weight: 800;
}

.heading3 {
  @apply text-[30px] leading-[37px];
  font-family: 'Inter';
  font-weight: 700;
}

.heading6 {
  @apply text-[18px] leading-[22px];
  font-family: 'Inter';
  font-weight: 400;
}


.body2 {
  @apply text-[22px] leading-[34px];
  font-family: 'Inter';
  font-weight: 400;
}

.body2B {
  @apply text-[22px] leading-[34px];
  font-family: 'Inter';
  font-weight: 700;
}
